
<!DOCTYPE html>
{%load static%}
<html>
<head>
  <meta charset="utf-8">
  <title>Вет-клініка "Хаска"</title>
  <link rel="stylesheet" href="{%static 'CSS/style.css'%}">
</head>

<body {{dif}}>
<div class="navbar">
  <div class="navbar-content"> Вас вітає ветеринарна клініка "Хаска"</div>
  <ul id="navbar">
    <img class="img" src ="{%static 'Drawings/logotype.jpg'%}">
    <li><a class="news">Головна</a></li>
    <li><a href="#">Інформація</a>
      <ul>
        <li><a href="#">Графік роботи</a></li>
        <li><a href="#">Ціни</a></li>
        <li><a href="#">Розташування</a></li>
      </ul>
    </li>
    <li><a href="{%url 'newssite' %}">Новини</a></li>
    <li><a href="#">Контакти</a>
      <ul>
        <li><a href="#">Адреса</a></li>
        <li><a href="#">Телефон</a></li>
        <li><a href="#">Пошта</a></li>
      </ul>
    </li>
    <li><a href="{%url 'record' %}">Запис тваринки</a></li>
    <li><a href="{%url 'discussion' %}">Обговорення різних проблем</a></li>
  </ul>
</div>
<div>
  {% if user.is_authenticated %}
        <p class="user">Hi {{ user.username }}!</p>
      {% else %}
        <p class="user">You are not logged in.</p>
  {% endif %}
  <div class="poll"> <a href="{%url 'polls' %}">Пройдіть опитування</a> </div>
  <h1 class="main_title">Клініка "Хаска" {{change}}</h1>
  <div class="content_first_site">
    <img src="{%static 'Drawings/dog_and_cat.jpg'%}" alt="Проблеми з інтернетом" class="img_content">
    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов
    на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя
    Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
    Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной
    вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов
    на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя
    Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
    Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной
    вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
  </div>
  <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов
  на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя
  Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
  Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной
  вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
  <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов
  на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя
  Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
  Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной
  вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>

  <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов
  на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя
  Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
  Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной
  вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>

  <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов
  на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя
  Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
  Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной
  вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>

  <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов
  на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя
  Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
  Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной
  вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>

  <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов
  на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя
  Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
  Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной
  вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>

  <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов
  на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя
  Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
  Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной
  вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
  <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов
  на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя
  Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
  Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной
  вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>

  <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов
  на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя
  Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
  Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной
  вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>

</div>
</body>
</html>